@keyframes backgroundShift {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
  
  h1:hover {
    transform: scale(1.1);
  }
  
  h1 span:hover {
    transform: scale(1.2) rotate(10deg); /* More rotation for the 'World' */
    color: #ff0; /* Yellow glow on hover */
    text-shadow: 0 0 20px rgba(255, 255, 0, 0.9), 0 0 30px rgba(255, 255, 0, 0.7); /* Add glowing hover */
  }
  
